Repository Berenjenas/react-dev-panel: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylelint:fix, npm run format:fix, npm run lint:fix

chore(docs): Updated documentation
  .prettierignore
  CONTRIBUTING.md
  README.md
  guides/CONTROLS.md
  guides/DEVELOPMENT.md
  guides/EVENT_HANDLING.md
  guides/controls/BOOLEAN_CONTROL.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  package.json
Due: none

refactor(ui): Simplified theme configuration and removed ThemeStore
  .prettierignore
  .prettierrc
  src/components/DevPanel/DevPanel.tsx
  src/components/DevPanel/types.d.ts
  src/components/Select/Select.module.scss
  src/store/ThemeStore.ts
  src/store/UIStore.ts
  src/store/index.ts
  src/theme.stories.tsx
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

fix(core): Fixed Typescript dependency
  package-lock.json
  package.json
  tsconfig.app.json
Due: none

chore(deps): Update typescript-eslint to version 8.39.0
  package-lock.json
  package.json
Due: none

docs(ui): Add comprehensive Storybook stories for all control types
  src/components/ControlRenderer/controls/BooleanControl/BooleanControl.stories.tsx
  src/components/ControlRenderer/controls/ButtonControl/ButtonControl.stories.tsx
  src/components/ControlRenderer/controls/ButtonGroupControl/ButtonGroupControl.stories.tsx
  src/components/ControlRenderer/controls/ColorControl/ColorControl.stories.tsx
  src/components/ControlRenderer/controls/DateControl/DateControl.stories.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.stories.tsx
  src/components/ControlRenderer/controls/NumberControl/NumberControl.stories.tsx
  src/components/ControlRenderer/controls/RangeControl/RangeControl.stories.tsx
  src/components/ControlRenderer/controls/SelectControl/SelectControl.stories.tsx
  src/components/ControlRenderer/controls/SeparatorControl/SeparatorControl.stories.tsx
  src/components/ControlRenderer/controls/TextControl/TextControl.stories.tsx
Due: npm run format:fix, npm run lint:fix

feature(ui): Improve documentation and JSDoc comments for select controls
  src/components/ControlRenderer/controls/MultiSelectControl/index.tsx
  src/components/ControlRenderer/controls/SelectControl/index.tsx
Due: npm run format:fix, npm run lint:fix

feature(ui): Enhance component styling and improve Select dropdown positioning
  src/components/DevPanel/types.d.ts
  src/components/Input/Input.module.scss
  src/components/Select/Select.module.scss
  src/components/Select/index.tsx
  src/store/UIStore.ts
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

refactor(docs): Reorganize stories into structured directory layout
  src/stories/integration.stories.tsx
  src/stories/matrix.stories.tsx
  src/stories/theme.stories.tsx
  src/stories/utils/ThemeBuilder/helpers.ts
  src/stories/utils/ThemeBuilder/index.tsx
  src/stories/utils/ThemeBuilder/presets.ts
  src/stories/utils/ThemeBuilder/types.d.ts
Due: npm run format:fix, npm run lint:fix

style(core): Streamline theme variables and modernize SCSS architecture
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_index.scss
  src/styles/base/_themes.scss
Due: npm run stylelint:fix, npm run format:fix

build(core): Optimize bundle size by excluding story and test files
  vite.config.ts
Due: npm run format:fix, npm run lint:fix

chore(core): Remove deprecated files and clean up project structure
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.module.scss
  src/main.stories.tsx
  src/matrix.stories.tsx
  src/theme.stories.tsx
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

chore(workflow): Add changeset for bundle optimization and enhanced documentation
  .changeset/bundle-optimization-and-stories.md
Due: none

Performance/bundle size reduction and theme updates (#26)
  .changeset/bundle-optimization-and-stories.md
  src/components/ControlRenderer/controls/BooleanControl/BooleanControl.stories.tsx
  src/components/ControlRenderer/controls/ButtonControl/ButtonControl.stories.tsx
  src/components/ControlRenderer/controls/ButtonGroupControl/ButtonGroupControl.stories.tsx
  src/components/ControlRenderer/controls/ColorControl/ColorControl.stories.tsx
  src/components/ControlRenderer/controls/DateControl/DateControl.stories.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.module.scss
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.stories.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/index.tsx
  src/components/ControlRenderer/controls/NumberControl/NumberControl.stories.tsx
  src/components/ControlRenderer/controls/RangeControl/RangeControl.stories.tsx
  src/components/ControlRenderer/controls/SelectControl/SelectControl.stories.tsx
  src/components/ControlRenderer/controls/SelectControl/index.tsx
  src/components/ControlRenderer/controls/SeparatorControl/SeparatorControl.stories.tsx
  src/components/ControlRenderer/controls/TextControl/TextControl.stories.tsx
  src/components/DevPanel/types.d.ts
  src/components/Input/Input.module.scss
  src/components/Select/Select.module.scss
  src/components/Select/index.tsx
  src/store/UIStore.ts
  src/stories/integration.stories.tsx
  src/stories/matrix.stories.tsx
  src/stories/theme.stories.tsx
  src/stories/utils/ThemeBuilder/helpers.ts
  src/stories/utils/ThemeBuilder/index.tsx
  src/stories/utils/ThemeBuilder/presets.ts
  src/stories/utils/ThemeBuilder/types.d.ts
  src/styles/abstracts/_functions.scss
  src/styles/abstracts/_index.scss
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/base/_index.scss
  src/styles/base/_themes.scss
  src/theme.stories.tsx
  vite.config.ts
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

Add Storybook manager configuration and enhance documentation and styles
  .storybook/manager.ts
  README.md
  src/Doc.mdx
  src/components/ControlRenderer/controls/RangeControl/RangeControl.module.scss
  src/components/DevPanelPortal/index.tsx
  src/components/Select/Select.module.scss
  src/components/Select/index.tsx
  src/stories/matrix.module.css
  src/stories/matrix.stories.tsx
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

Added changeset
  .changeset/sharp-garlics-rhyme.md
Due: none

feature(ui): Updated Text control to use an auto-expanding textarea
  .changeset/rotten-clubs-kick.md
  package-lock.json
  src/components/ControlRenderer/controls/TextControl/TextControl.stories.tsx
  src/components/ControlRenderer/controls/TextControl/index.tsx
  src/components/ControlRenderer/controls/TextControl/types.d.ts
  src/components/Textarea/Textarea.module.scss
  src/components/Textarea/index.tsx
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

feature: Fixed format in some files
  .lintstagedrc
  src/Doc.mdx
  src/components/Textarea/Textarea.module.scss
Due: npm run stylelint:fix, npm run format:fix

feat: add Drag and Drop control component with styling and Storybook integration
  src/components/ControlRenderer/controls/DragAndDropControl/DragAndDropControl.module.scss
  src/components/ControlRenderer/controls/DragAndDropControl/DragAndDropControl.stories.tsx
  src/components/ControlRenderer/controls/DragAndDropControl/index.tsx
  src/components/ControlRenderer/controls/DragAndDropControl/types.d.ts
  src/components/ControlRenderer/controls/index.ts
  src/components/ControlRenderer/controls/types.d.ts
  src/components/ControlRenderer/index.tsx
  src/components/DevPanel/index.tsx
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

refactor: replace matrix.module.css with matrix.css for improved styling organization
  src/stories/matrix.css
  src/stories/matrix.stories.tsx
Due: npm run format:fix, npm run lint:fix

feat: enhance Drag and Drop control with file type validation and error handling; add Color Extractor utility functions and Storybook integration
  src/components/ControlRenderer/controls/DragAndDropControl/DragAndDropControl.module.scss
  src/components/ControlRenderer/controls/DragAndDropControl/DragAndDropControl.stories.tsx
  src/components/ControlRenderer/controls/DragAndDropControl/index.tsx
  src/components/ControlRenderer/controls/DragAndDropControl/types.d.ts
  src/stories/color-extractor.stories.tsx
  src/stories/profile-card.stories.tsx
  src/stories/utils/ColorExtractor/index.ts
  src/stories/utils/ColorExtractor/types.d.ts
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

Added changesets
  .changeset/cute-chefs-judge.md
  src/components/DevPanel/DevPanel.module.scss
Due: npm run stylelint:fix, npm run format:fix

feat: add Drag and Drop control component with styling and Storybook integration (#30)
  .changeset/cute-chefs-judge.md
  src/components/ControlRenderer/controls/DragAndDropControl/DragAndDropControl.module.scss
  src/components/ControlRenderer/controls/DragAndDropControl/DragAndDropControl.stories.tsx
  src/components/ControlRenderer/controls/DragAndDropControl/index.tsx
  src/components/ControlRenderer/controls/DragAndDropControl/types.d.ts
  src/components/ControlRenderer/controls/index.ts
  src/components/ControlRenderer/controls/types.d.ts
  src/components/ControlRenderer/index.tsx
  src/components/DevPanel/DevPanel.module.scss
  src/components/DevPanel/index.tsx
  src/stories/color-extractor.stories.tsx
  src/stories/matrix.css
  src/stories/matrix.stories.tsx
  src/stories/profile-card.stories.tsx
  src/stories/utils/ColorExtractor/index.ts
  src/stories/utils/ColorExtractor/types.d.ts
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

style: enhance word-breaking and overflow handling in select control
  src/components/ControlRenderer/ControlRenderer.module.scss
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.stories.tsx
  src/components/Select/Select.module.scss
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

BDP-8 Added changeset
  .changeset/plain-moons-rescue.md
Due: none

feat: add persistence support for character creator controls
  src/components/ControlRenderer/controls/BooleanControl/BooleanControl.stories.tsx
  src/components/ControlRenderer/controls/types.d.ts
  src/hooks/useDevPanel/index.ts
  src/store/ControlPersistenceService.ts
  src/stories/character-creator.stories.tsx
Due: npm run format:fix, npm run lint:fix

feat: add persistence controls to various components in Storybook
  src/components/ControlRenderer/controls/BooleanControl/BooleanControl.stories.tsx
  src/components/ControlRenderer/controls/ColorControl/ColorControl.stories.tsx
  src/components/ControlRenderer/controls/DateControl/DateControl.stories.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.stories.tsx
  src/components/ControlRenderer/controls/NumberControl/NumberControl.stories.tsx
  src/components/ControlRenderer/controls/RangeControl/RangeControl.stories.tsx
  src/components/ControlRenderer/controls/SelectControl/SelectControl.stories.tsx
  src/components/ControlRenderer/controls/TextControl/TextControl.stories.tsx
Due: npm run format:fix, npm run lint:fix

feat: Add automatic persistence for all control types in React Dev Panel
  README.md
  guides/ADVANCED_USAGE.md
  guides/CONTROLS.md
  guides/PERSISTENCE.md
  guides/controls/BOOLEAN_CONTROL.md
  guides/controls/COLOR_CONTROL.md
  guides/controls/DATE_CONTROL.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/NUMBER_CONTROL.md
  guides/controls/RANGE_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  guides/controls/TEXT_CONTROL.md
  src/components/ControlRenderer/controls/DateControl/index.tsx
Due: npm run format:fix, npm run lint:fix

feat: Add changeset
  .changeset/angry-parts-tan.md
Due: none

style: enhance word-breaking and overflow handling in select control (#48)
  .changeset/plain-moons-rescue.md
  src/components/ControlRenderer/ControlRenderer.module.scss
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.stories.tsx
  src/components/Select/Select.module.scss
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

Persistance in controls (#49)
  .changeset/angry-parts-tan.md
  README.md
  guides/ADVANCED_USAGE.md
  guides/CONTROLS.md
  guides/PERSISTENCE.md
  guides/controls/BOOLEAN_CONTROL.md
  guides/controls/COLOR_CONTROL.md
  guides/controls/DATE_CONTROL.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/NUMBER_CONTROL.md
  guides/controls/RANGE_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  guides/controls/TEXT_CONTROL.md
  src/components/ControlRenderer/controls/BooleanControl/BooleanControl.stories.tsx
  src/components/ControlRenderer/controls/ColorControl/ColorControl.stories.tsx
  src/components/ControlRenderer/controls/DateControl/DateControl.stories.tsx
  src/components/ControlRenderer/controls/DateControl/index.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.stories.tsx
  src/components/ControlRenderer/controls/NumberControl/NumberControl.stories.tsx
  src/components/ControlRenderer/controls/RangeControl/RangeControl.stories.tsx
  src/components/ControlRenderer/controls/SelectControl/SelectControl.stories.tsx
  src/components/ControlRenderer/controls/TextControl/TextControl.stories.tsx
  src/components/ControlRenderer/controls/types.d.ts
  src/hooks/useDevPanel/index.ts
  src/store/ControlPersistenceService.ts
  src/stories/character-creator.stories.tsx
Due: npm run format:fix, npm run lint:fix

Add searchable logic to select
  src/components/ControlRenderer/controls/SelectControl/SelectControl.stories.tsx
  src/components/ControlRenderer/controls/SelectControl/index.tsx
  src/components/ControlRenderer/controls/SelectControl/types.d.ts
  src/components/Select/Select.module.scss
  src/components/Select/index.tsx
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

feature(workflow): Add bundle size tracking and refactor documentation
  .bundlewatch.config.json
  .changeset/bundle-size-and-docs.md
  .github/workflows/bundle-size.yml
  .gitignore
  .size-limit.json
  README.md
  guides/ADVANCED_USAGE.md
  guides/BUNDLE_SIZE.md
  guides/CONTROLS.md
  guides/EVENT_HANDLING.md
  guides/PERSISTENCE.md
  guides/STYLING.md
  guides/controls/BOOLEAN_CONTROL.md
  guides/controls/NUMBER_CONTROL.md
  guides/controls/TEXT_CONTROL.md
  package-lock.json
  package.json
  scripts/analyze-bundle.js
Due: npm run format:fix, npm run lint:fix

docs: complete documentation refactor for all control guides
  guides/controls/BUTTON_CONTROL.md
  guides/controls/BUTTON_GROUP_CONTROL.md
  guides/controls/COLOR_CONTROL.md
  guides/controls/DATE_CONTROL.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/RANGE_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  guides/controls/SEPARATOR_CONTROL.md
Due: none

fix workflow
  .github/workflows/bundle-size.yml
  .vscode/settings.json
Due: none

remove workflow
  .github/workflows/bundle-size.yml
Due: none

feature(workflow): Add bundle size tracking and refactor documentation (#92)
  .bundlewatch.config.json
  .changeset/bundle-size-and-docs.md
  .gitignore
  .size-limit.json
  .vscode/settings.json
  README.md
  guides/ADVANCED_USAGE.md
  guides/BUNDLE_SIZE.md
  guides/CONTROLS.md
  guides/EVENT_HANDLING.md
  guides/PERSISTENCE.md
  guides/STYLING.md
  guides/controls/BOOLEAN_CONTROL.md
  guides/controls/BUTTON_CONTROL.md
  guides/controls/BUTTON_GROUP_CONTROL.md
  guides/controls/COLOR_CONTROL.md
  guides/controls/DATE_CONTROL.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/NUMBER_CONTROL.md
  guides/controls/RANGE_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  guides/controls/SEPARATOR_CONTROL.md
  guides/controls/TEXT_CONTROL.md
  package-lock.json
  package.json
  scripts/analyze-bundle.js
Due: npm run format:fix, npm run lint:fix

Add .changeset
  .changeset/soft-buttons-fall.md
Due: none

Add searchable logic to select (#81)
  .changeset/soft-buttons-fall.md
  src/components/ControlRenderer/controls/SelectControl/SelectControl.stories.tsx
  src/components/ControlRenderer/controls/SelectControl/index.tsx
  src/components/ControlRenderer/controls/SelectControl/types.d.ts
  src/components/Select/Select.module.scss
  src/components/Select/index.tsx
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

Path conditions:
  npm run stylelint:fix: any of: *.scss
  npm run format:fix: (any of: *.scss) or (any of: *.{js,jsx,ts,tsx})
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
