Repository Berenjenas/react-dev-panel: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylelint:fix, npm run format:fix, npm run lint:fix

.lintstagedrc:

{
	"*.scss": ["npm run stylelint:fix", "npm run format:fix"],
	"*.{js,jsx,ts,tsx}": ["npm run lint:fix", "npm run format:fix"]
}

feature: add new control(local storage)
  .changeset/sweet-lemons-learn.md
  README.md
  guides/CONTROLS.md
  guides/controls/LOCALSTORAGE_CONTROL.md
  package-lock.json
  src/components/ControlRenderer/controls/LocalStorageControl/LocalStorageControl.module.scss
  src/components/ControlRenderer/controls/LocalStorageControl/LocalStorageControl.stories.tsx
  src/components/ControlRenderer/controls/LocalStorageControl/index.tsx
  src/components/ControlRenderer/controls/LocalStorageControl/types.d.ts
  src/components/ControlRenderer/controls/index.ts
  src/components/ControlRenderer/controls/types.d.ts
  src/components/ControlRenderer/index.tsx
  src/styles/abstracts/_mixins.scss
  src/utils/copyToClipboard/copyToClipboard.spec.ts
  src/utils/copyToClipboard/copyToClipboard.ts
  src/utils/copyToClipboard/index.ts
  src/utils/getStringPreview/getStringPreview.spec.ts
  src/utils/getStringPreview/getStringPreview.ts
  src/utils/getStringPreview/index.ts
  src/utils/prettifyJson/index.ts
  src/utils/prettifyJson/prettifyJson.spec.ts
  src/utils/prettifyJson/prettifyJson.ts
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

feature: add new control(local storage) (#94)
  .changeset/sweet-lemons-learn.md
  README.md
  guides/CONTROLS.md
  guides/controls/LOCALSTORAGE_CONTROL.md
  package-lock.json
  src/components/ControlRenderer/controls/LocalStorageControl/LocalStorageControl.module.scss
  src/components/ControlRenderer/controls/LocalStorageControl/LocalStorageControl.stories.tsx
  src/components/ControlRenderer/controls/LocalStorageControl/index.tsx
  src/components/ControlRenderer/controls/LocalStorageControl/types.d.ts
  src/components/ControlRenderer/controls/index.ts
  src/components/ControlRenderer/controls/types.d.ts
  src/components/ControlRenderer/index.tsx
  src/styles/abstracts/_mixins.scss
  src/utils/copyToClipboard/copyToClipboard.spec.ts
  src/utils/copyToClipboard/copyToClipboard.ts
  src/utils/copyToClipboard/index.ts
  src/utils/getStringPreview/getStringPreview.spec.ts
  src/utils/getStringPreview/getStringPreview.ts
  src/utils/getStringPreview/index.ts
  src/utils/prettifyJson/index.ts
  src/utils/prettifyJson/prettifyJson.spec.ts
  src/utils/prettifyJson/prettifyJson.ts
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

fix: general adjustments
  guides/controls/BUTTON_CONTROL.md
  guides/controls/BUTTON_GROUP_CONTROL.md
  guides/controls/COLOR_CONTROL.md
  guides/controls/DATE_CONTROL.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/RANGE_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  guides/controls/SEPARATOR_CONTROL.md
  src/components/ControlRenderer/controls/LocalStorageControl/LocalStorageControl.stories.tsx
Due: npm run format:fix, npm run lint:fix

fix: general adjustments
  src/components/Select/index.tsx
Due: npm run format:fix, npm run lint:fix

General adjustments (#95)
  guides/controls/BUTTON_CONTROL.md
  guides/controls/BUTTON_GROUP_CONTROL.md
  guides/controls/COLOR_CONTROL.md
  guides/controls/DATE_CONTROL.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/RANGE_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  guides/controls/SEPARATOR_CONTROL.md
  src/components/ControlRenderer/controls/LocalStorageControl/LocalStorageControl.stories.tsx
  src/components/Select/index.tsx
Due: npm run format:fix, npm run lint:fix

feature: add discord notifications on release
  .github/workflows/release.yml
Due: none

chore: add changeset
  .changeset/discord-notifications.md
Due: none

feature: add discord notifications on release (#96)
  .changeset/discord-notifications.md
  .github/workflows/release.yml
Due: none

fix: fix notifications
  .github/workflows/release.yml
Due: none

Discord notifications (#98)
  .changeset/discord-notifications.md
  .github/workflows/release.yml
Due: none

fix: github URL in notifications
  .github/workflows/release.yml
Due: none

feature(core): SSR safety, enabled flag, error isolation and CSS dedup
  .changeset/ssr-safety-and-robustness.md
  README.md
  guides/PERSISTENCE.md
  guides/PRODUCTION.md
  guides/controls/LOCALSTORAGE_CONTROL.md
  package-lock.json
  package.json
  src/components/ControlErrorBoundary/index.tsx
  src/components/ControlRenderer/index.tsx
  src/components/DevPanel/index.tsx
  src/components/DevPanel/types.d.ts
  src/hooks/useDevPanel/index.ts
  src/hooks/useDevPanel/mountDevPanelPortal.ts
  src/index.ts
  src/store/BaseStoreService.ts
  src/store/ControlPersistenceService.ts
  src/store/UIStore.ts
  src/styles/abstracts/_variables.scss
  src/styles/base/_index.scss
  src/styles/base/_root.scss
  src/utils/deepEqual/deepEqual.spec.ts
  src/utils/deepEqual/deepEqual.ts
  src/utils/hasControlChanged/hasControlChanged.ts
  src/utils/isValidPersistedValue/isValidPersistedValue.spec.ts
  src/utils/isValidPersistedValue/isValidPersistedValue.ts
  vite.config.ts
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

feature(core): SSR safety, enabled flag, error isolation and CSS dedup
  .changeset/ssr-safety-and-robustness.md
Due: none

chore: add pull request template for better contribution guidelines
  .github/pull_request_template.md
Due: none

chore/general improvements (#114)
  .changeset/ssr-safety-and-robustness.md
  .github/pull_request_template.md
  README.md
  guides/PERSISTENCE.md
  guides/PRODUCTION.md
  guides/controls/LOCALSTORAGE_CONTROL.md
  package-lock.json
  package.json
  src/components/ControlErrorBoundary/index.tsx
  src/components/ControlRenderer/index.tsx
  src/components/DevPanel/index.tsx
  src/components/DevPanel/types.d.ts
  src/hooks/useDevPanel/index.ts
  src/hooks/useDevPanel/mountDevPanelPortal.ts
  src/index.ts
  src/store/BaseStoreService.ts
  src/store/ControlPersistenceService.ts
  src/store/UIStore.ts
  src/styles/abstracts/_variables.scss
  src/styles/base/_index.scss
  src/styles/base/_root.scss
  src/utils/deepEqual/deepEqual.spec.ts
  src/utils/deepEqual/deepEqual.ts
  src/utils/hasControlChanged/hasControlChanged.ts
  src/utils/isValidPersistedValue/isValidPersistedValue.spec.ts
  src/utils/isValidPersistedValue/isValidPersistedValue.ts
  vite.config.ts
Due: npm run stylelint:fix, npm run format:fix, npm run lint:fix

feature(core): open the dev panel from the browser console
  .changeset/console-trigger.md
  README.md
  src/hooks/useDevPanel/consoleApi.spec.ts
  src/hooks/useDevPanel/consoleApi.ts
  src/hooks/useDevPanel/mountDevPanelPortal.ts
  src/index.ts
  src/store/UIStore.ts
Due: npm run format:fix, npm run lint:fix

feature(core): open the dev panel from the browser console (#116)
  .changeset/console-trigger.md
  README.md
  src/hooks/useDevPanel/consoleApi.spec.ts
  src/hooks/useDevPanel/consoleApi.ts
  src/hooks/useDevPanel/mountDevPanelPortal.ts
  src/index.ts
  src/store/UIStore.ts
Due: npm run format:fix, npm run lint:fix

feature(ui): searchable option for the multiselect control
  .changeset/multiselect-searchable.md
  .github/pull_request_template.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.stories.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/index.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/types.d.ts
Due: npm run format:fix, npm run lint:fix

feature(ui): searchable option for the multiselect control (#117)
  .changeset/multiselect-searchable.md
  .github/pull_request_template.md
  guides/controls/MULTISELECT_CONTROL.md
  guides/controls/SELECT_CONTROL.md
  src/components/ControlRenderer/controls/MultiSelectControl/MultiSelectControl.stories.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/index.tsx
  src/components/ControlRenderer/controls/MultiSelectControl/types.d.ts
Due: npm run format:fix, npm run lint:fix

fix: update Node.js version and add npm update step for trusted publishing
  .github/workflows/release.yml
Due: none

bugfix(core): prevent infinite render loop for array/object control values
  .changeset/fix-multiselect-render-loop.md
  src/utils/hasControlChanged/hasControlChanged.spec.ts
  src/utils/hasControlChanged/hasControlChanged.ts
Due: npm run format:fix, npm run lint:fix

bugfix(core): prevent infinite render loop for array/object control values (#129)
  .changeset/fix-multiselect-render-loop.md
  src/utils/hasControlChanged/hasControlChanged.spec.ts
  src/utils/hasControlChanged/hasControlChanged.ts
Due: npm run format:fix, npm run lint:fix
